@import url('https://fonts.googleapis.com/css2?family=Krub:wght@400;700&family=Montserrat:ital,wght@0,500;0,600;0,700;1,400&display=swap');

:root{
	--turqueza: #34B0BE;
	--plomo: #D1CECA;
	--darkblue:#242635;
	--white:#ffffff;
	--moreblue: #0a0714;
}

*{
	padding: 0;
	box-sizing: border-box;
	margin: 0; 
	font-family: 'Montserrat', sans-serif;
	color: white;
}

img{
	max-width: 100%;
	display: block;

}

.cabezera{
	position: relative;
}

.contenedor{
	background-color: var(--moreblue);
	margin: auto;
	
}

#btn-menu{
	display: none;
}

#btn-menu:checked ~ .barnav{
	left: 0;

} 


.barnav{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-weight: 400;
	padding: 3rem;
	background-color: var(--darkblue);
	width: 100%;
	min-height: calc(50vh - 70px);
	position: absolute;
	left: 100%;
	top: 70px;
	border-radius: 1rem 0 1rem 1rem ;

}

.lista_menu{

	display: flex;
	flex-direction: column;
	gap: 3rem;
	padding: 0.5rem;
	align-items: center;

}

.nav-menu path{
	stroke: white;
}

.menu_hamburguesa{
	display: flex;
	justify-content: flex-end;	
	align-items: center;
	height: 50px;
	padding: 0.5rem 1rem;
}




.descript{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;


}

.perfil_contenedor{
	
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	background-color: var(--darkblue);
	border-radius: 50%;
	padding: 0.35rem 1.5rem 0.1rem;
	
}

.perfil{
	display: block;
	margin-top: 2rem;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	
}

.name{
	padding: 3rem 0 0;
	text-align: center;
}


.name h1{
	color: var(--turqueza);
	font-size:3rem ;
}

.name span{
	padding: 1rem;
	color: var(--white);
	font-size:2rem ;
	font-weight: 400;
}

.barrita{
	margin-top: 8px;
	width: 320px;
	height: 4px;
	background-color: #fff;
	margin-bottom: 18px;
}

.cargo{
	text-align: center;


}

.cargo h3{	
	font-weight: 400;
}

.cargo p {	
	color: var(--white);
	margin: 2rem 0;
}

.cargo span {	
	font-weight: 700;
	color: var(--turqueza)
}



.redes{
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 3rem;
	margin-bottom: 2rem;


}
.circule{
	background-color: white;
	border-radius: 50%;
	padding: 0.5rem;

}

.empresas{
	padding: 1rem;
	background-color: var(--darkblue);
	border-radius: 30px;
	width: 320px;
	display: flex;
	justify-content:center;
	gap: 2rem;
	align-items: center;
	margin-bottom: 40px;

}

.cuadro{
	background-color: var(--white);

	width: 45px;
	height: 45px;
	border-radius: 10%;
	display: flex;
	justify-content: center;
	align-items: center;

	
}



.acerca_de_mi h2{
	font-size: 2.2rem;
	color: var(--turqueza);
}

.acerca_de_mi{
	text-align: center;
	align-items: center;
	width: 350px;
	margin: auto;		 	
}

.acerca_de_mi p{
	font-size: 1rem;
	color: white;
	font-weight: 400;
	line-height:1.5rem ;
	margin-bottom: 40px;
}
li{
	list-style: none;
	
}
a{
	text-decoration: none;
}

.home{
	color: var(--turqueza);
}

.contenedor_info > h3{
	
	color: black;
}

.deh3{
	margin-top: 8rem;
	color: black;
}
.tituloServicios{
	text-align: center;
	margin-bottom: 3rem;
}

.servicios{
	display: flex;
	justify-content: center;

}

.servicios > h2{
	padding: 1rem;
	
}

.contenedor_conocimientos{

	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	gap: 2rem;

}


.conocimientos{
	display: flex;
	flex-direction: column;
	justify-items: center;
	justify-content: center;
	align-items: center;
	width: 250px;
	height: 330px;
	border-radius: 3%;
	background-color: white;
	position: relative;
	overflow: hidden;
	margin: auto;
}



.vector {
	position: absolute;
	top: -5px;
	left: 0;

}

.contenedor_info{
	display: flex;
	width: 90%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;

	
}

.contenedor_menu2{
	display: none;
}

.logo_conocimiento{
	position: absolute;
	bottom: 6.5rem;

}

.titulo_experiencia{
	position: absolute;
	bottom: 3rem;
	padding: 1rem 0;

}


@media (min-width: 600px) {

	.menu_desktop{
		position: absolute;
		z-index: 3;

	}
	
	.menu2{
		display: flex;
		flex-direction: row;
		/* justify-content: space-evenly; */
		align-items: right;
		font-weight: 400;
		
		width: 100%;
		border-radius: 1rem 0 1rem 1rem ;
		color: #fff;
	
	}
	.contenedor_menu2{
		display: block;
		width: 100%;
		
	}

	.menu2 .lista_menu{
		margin-right: 2rem ;
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: right;
	}
	

	.menu{
		display: none;
	}

	header{
		position: relative;
	}


	.descript{
		max-width: 1400px;
		margin: auto;
	
		margin-top: 50px;
	
	}



	.contenedor_info2{
		position: absolute;
		width: 500px;
		height: 600px;
		left: 250px;
		top: 100px;
		display: flex;
		flex-direction: column;
		justify-content: left;
	
		

	}


    .name{
		padding: 0;
		text-align: left;
	}
	
	
	.name h1{
		color: var(--turqueza);
		font-size:5rem ;
	}
	
	.name span{
		padding: 0;
		color: var(--white);
		font-size:2rem ;
		font-weight: 400;
	}
	
	.barrita{
		margin-top: -102px;
		margin-bottom: 100px;
		width: 320px;
		height: 4px;
		background-color: #fff;
		margin-bottom: 18px;
	}
	
	.cargo{
		text-align: center;
		margin-top: 100px;
		text-align: left;
	
	}
	
	.cargo h3{	
		font-weight: 400;
		font-size: 1.5rem;
		width: 300px;
	
	}
	
	.cargo p {	
		color: var(--white);
		margin: 0;
	}
	
	.cargo span {	
		font-weight: 700;
		color: var(--turqueza)
	}
	
	.redes{
		
		display: flex;
		padding: 0;
		justify-content: left;
		gap: 3rem;
		margin-bottom: 2rem;
	
	
	}


	.circule{
		background-color: white;
		border-radius: 50%;
		padding: 20px 10px ;
		margin-top: 50px;
		
	}	
	

	.perfil{
		width: 650px;
		height: 650px;
	}

	

	article > img{
		width: 70px;
		height: 40px;
	}


	.empresas{

		width: 75%;
		height: 150px;
		border-radius: 30px;
	}

	.cuadro{
		width: 200px ;
		height: 80%;
		display: flex;
		margin: 2rem;
		

	}

	.contenedor_conocimientos{

		flex-direction: row;
	
	}

	.acerca_de_mi{

		width: 70%;
		height: 100%;
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: center;
		align-items: center;
		padding: 2rem;
		margin: auto;
	}



}